nav.navigation.col-md-2
    ul
        li.area General
        li
            a(href='/dashboard') Dashboard
        li
            a(href='/dashboard') Jóvenes
        li
            a(href='/dashboard') Estaciones