nav.navigation.col-md-2
    ul
        li.area
            i#logo.fa.fa-empire

        li.area General
        li
            a(href='/') Dashboard
        li
            a(href='/jovenes') Jóvenes
        li
            a(href='/estaciones') Estaciones


        li.area Configuraciones
        li
            a(href='/regiones') Regiones
        li
            a(href='/distritos') Distritos
        li
            a(href='/grupos') Grupos