extends ../layout

block content
    form.col-md-6.col-md-offset-3
        div.form-group
            label(for="nombres") Nombres:
            input(type="text",class="form-control",id="nombres",placeholder="Nombres")

        div.form-group
            label(for="nombres") Nombres:
            input(type="text",class="form-control",id="nombres",placeholder="Nombres")