extends layout

block content
    div.container
        div.row
            div.box.green
                div.content
                    span.title Estaciones
                    span#nEstaciones.content #{nEstaciones}
                img(src='images/graph.png')

            div.box.red
                div.content
                    span.title Jóvenes
                    span#nJovenes.content #{nJovenes}
                img(src='images/graph2.png')

            div.box.yellow
                div.content
                    span.title LobosCoin
                    span#sup 1.600
                    span#sub.positive 60
                img(src='images/graph.png',id="mirror")

        div.row
            div#chart.col-md-2.box
                canvas(id="placeholder1",width="500",height="500")

            div.col-md-6
                table#principal
                    thead
                        tr
                            th.center Nombre
                            th.center Capacidad
                    tbody
                        tr
                            td(colspan='2').center
                                i.fa.fa-spin.fa-spinner
                                | Cargando...

    script(src='lib/Chart.js/Chart.min.js')

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/dashboard.js')
