extends layout

block content
    button.btn.green Nuevo

    table
        thead
            tr
                th.center ID
                th Nombre
                th.center Región
                th.center Distrito
                th.center Grupo
                th.center Opciones

        tbody
            tr
                td.center 1
                td Jaro Marval
                td.center Falcón
                td.center Paraguaná
                td.center Nazaret
                td.center
                    button.btn  Editar
                    &nbsp;
                    button.btn.red  Borrar
            tr
                td.center 2
                td Simón Bolívar
                td.center Falcón
                td.center Paraguaná
                td.center Nazaret
                td.center
                    button.btn  Editar
                    &nbsp;
                    button.btn.red  Borrar
