* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 50px;
    font-size: 14px;
    line-height: 1.5;
    color: #cfd2da;
    background-color: #252830;
}

/*a {
    color: #FFF;
    text-transform: uppercase;
}*/

#logo {
    display: block;
    font-size: 10em;
    margin-bottom: .2em;
    text-align: center;
}

#e404 {
    color: #a94442;
    display: block;
    font-size: 15em;
    margin-bottom: .2em;
    text-align: center;
}

nav {
    display: inline-block;
    width: 18% !important;
}

nav li, nav ul {
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    border-radius: 5px;
    padding: .5em 0 .5em 1em;
}

nav li:hover, nav li > a:hover {
    color: #cfd2da;
    background-color: #434857;
    text-decoration: none;
}

nav li > a {
    color: #cfd2da;
    text-decoration: none;
}

nav li.area {
    font-size: 85%;
    font-weight: normal;
    letter-spacing: 1px;
    color: #51586a;
    text-transform: uppercase;
}

nav li.area:hover {
    background-color: #252830;
}

header > h1 {
    color: #FFF;
    font-size: 2em;
    margin-top: 10px;
}

header > h2 {
    color: #51586a;
    font-size: 1em;
    text-transform: uppercase;
}

hr {
    border-color: #51586a;
    margin-bottom: 3em;
}

button, a.button {
    color: #1997c6;
    background-color: transparent;
    border-color: #1997c6 !important;
    margin: 1em !important;
}

button.green, a.button.green {
    color: #1bc98e;
    background-color: transparent;
    border-color: #1bc98e !important;
}

button.red, a.button.red {
    color: #a94442;
    background-color: transparent;
    border-color: #a94442 !important;
}

button:hover, a.button:hover {
    color: #ffffff !important;
    background-color: #1997c6;
    box-shadow: none;
    text-decoration: none;
}

button.green:hover, a.button.green:hover {
    background-color: #1bc98e;
}

button.red:hover, a.button.red:hover {
    background-color: #a94442;
}

table {
    border: 1px solid #51586a;
    display: table;
    border-collapse: separate;
    border-radius: 5px;
    width: 100%;
}

td.center, th.center {
    text-align: center;
}

table th {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    padding: .6em;
}

table td {
    border-top: 1px solid #51586a;
    /*padding-top: 10px;
    padding-bottom: 10px;*/
}

pre {
    color: #FFF;
    background-color: transparent;
}

.form-group > input, .form-group > select {
    background-color: transparent !important;
    color: #999 !important;
}

.form-button {
    text-align: right;
}