extends ../layout

block content
    if region.id
        - var action = '/regiones/update'
    else
        - var action = '/regiones/create'

    form(action="#{action}", method='post').col-md-6.col-md-offset-3
        if errors
            for item in errors
                div.alert.alert-error
                    = item.value

        div.form-group
            input(type="hidden",id="id",name="region[id]",value="#{region.id}")
            label(for="nombre") Nombre:
            input(type="text",class="form-control",id="nombre",name="region[nombre]",placeholder="Nombre",value="#{region.nombre}")

        div.form-group.form-button
            a(href='/regiones').button.btn.red Cancelar
            button(type='submit').btn.green Guardar